.container1{
    background: linear-gradient(to right bottom,#000 , #c89666) ;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
  }
  .app-wrapper1{
    background-color: lightcoral;
    min-width: 300px;
    min-height: 300px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: 10px;
  }
  .register{
    color: white;
  }
  .form{
    padding: auto;
    margin: 10px;
  }
  .button{
    margin: auto;
  }